:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
button {
  width: 70px;
  height: 40px;
  border-radius: 3px;
  border-color: gray;
  text-align: center;
}
